#list-catalog {
    margin-top: 10px;
    margin-bottom: 10px; 
    display: table;
 
}
#list-catalog > div {
    padding-left: 5px; 
    padding-right: 5px;
}
#list-catalog .list-group-item {
    border: none;
    display: table;
    height: 45px;
    padding: 0 10px 0 0;
}

#list-catalog .list-group-item > .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    float: left;
    height: 35px;
    margin: 5px 10px 5px 5px;
    width: 35px;
}
#list-catalog .list-group-item > p {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    line-height: 1;
}

.pagination {
    margin: 0;
}

.sumrows-catalog{
    margin-top: 10px;
}